/* design here */
#bodyreg{
    background-image: url("MESCO\ BACKGROUNG.jpg");
    background-size:cover;
}

#main{
    background-color:rgb(94, 167, 175);
    justify-content: center;
    opacity: 0.75;
    color:black;
    height: 750px;
    width: 500px;
    margin-left: 550px;
    margin-top: 80px;
    padding-left: 15px;
    border-radius: 3%;   
}

input{
    justify-items: center;
}

#reg{
    font-size: 35px;
    text-align: center;
    text-transform: capitalize;
    color: black;
}

#but{
    margin-left: 180px;
    background-color:coral;
    border-radius: 10px;
    width: 90px;
    height: 40px;
}

input{
    width: 250px;
}


/* login page design from here  */

