/* design here */
body{
}
#main{
    background-color:rosybrown;
    color:black;
    height: 500px;
    width: 500px;
    margin-left: 500px;
    margin-top: 100px;
    padding-left: 15px;
}

input{
    
}